.navbar1 {
    background-color: var(--background);
    overflow: hidden;
  }
  .navbar1 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--primary);
    box-sizing: border-box;
    width: 1440px;
    height: 85px;
    text-align: left;
    font-size: var(--body-regular-body-2-size);
    color: var(--black-fonts-headings);
    font-family: var(--body-regular-body-2);
  }
  .navbar-text1{
  margin: 0;
  position: absolute;
  width: 49.92%;
  top: calc(50% - 8.5px);
  right: 23.83%;
  left: 19%;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 var(--space-050);
  box-sizing: border-box;
}
.practice6,
.roadmap4 {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.roadmap4 {
  width: 72px;
  position: relative;
  flex-shrink: 0;
  max-width: 120px;
}
.practice6 {
  width: 62px;
}
.practice6,
.project1,
.resources3 {
  position: relative;
  flex-shrink: 0;
  max-width: 120px;
}
.project1 {
  width: 62px;
  display: flex;
  align-items: center;
}
.resources3 {
  width: 79px;
}
.navbar-text1,
.placement3,
.resources3 {
  display: flex;
  align-items: center;
}
.placement3 {
  width: 90px;
  position: relative;
  flex-shrink: 0;
  max-width: 120px;
}
.navbar-button1,
.sign-up1, .logout-btn {
  display: flex;
  flex-direction: row;
}
.sign-up1, .logout-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini);
  background-color: var(--primary);
  width: 89px;
  border-radius: var(--br-9xs);
  height: 40px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.sign-in1 {
    cursor: pointer;
    border: 1px solid var(--primary);
    padding: var(--padding-mini);
    background-color: var(--background);
    width: 85px;
    border-radius: var(--br-9xs);
    box-sizing: border-box;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .contact-us2 {
    position: relative;
    font-size: var(--font-size-mini);
    font-weight: 500;
    font-family: var(--body-regular-body-2);
    color: var(--primary);
    text-align: center;
  }
  .navbar-button1 {
    position: absolute;
    top: 50%; /* Position vertically centered */
    right: 60px;
    transform: translateY(-50%); /* Adjust to center the element */
    align-items: center; /* Vertically center the content */
    justify-content: flex-start; /* Keep elements aligned to the start */
    gap: var(--gap-base);
  }
  .contact-us3 {
    position: relative;
    font-size: var(--font-size-mini);
    font-weight: 500;
    font-family: var(--body-regular-body-2);
    color: var(--background);
    text-align: center;
  }
  .light-logo-icon1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .light-logo1 {
    position: absolute;
    top: 13px;
    left: 33px;
    width: 219px;
    height: 62px;
    cursor: pointer;
  }
  .username-display {
    font-size: var(--font-size-mini);
    color: var(--secondary); /* Set the text color */
    font-weight: 500;
    margin-right: 15px; /* Optional: Add space between username and button */
  }
  
  @media screen and (max-width: 960px) {
    .navbar-text1 {
      align-items: flex-start;
      justify-content: flex-start;
    }
    .navbar-text1 {
      flex-direction: row;
      gap: var(--gap-11xl);
    }
    .navbar-text1 {
      flex-direction: column;
      gap: var(--gap-31xl);
    }
  }
  @media screen and (max-width: 420px) {
    .navbar-text1 {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .navbar-text1 {
      gap: var(--gap-11xl);
    }
    .navbar-text1 {
      gap: var(--gap-31xl);
    }
  }