.practice-questions {
  color: var(--secondary);
}
.heading-title,
.text {
  margin: 0;
  position: relative;
}
.heading-title {
  align-self: stretch;
  font-size: inherit;
  line-height: 76px;
  font-weight: 600;
  font-family: inherit;
}
.text {
  width: 826px;
  font-size: var(--body-regular-body-2-size);
  line-height: 24px;
  color: var(--neutral-grey);
  display: inline-block;
}
.frame1 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 14px;
}
.practice-img-icon {
  width: 277px;
  position: relative;
  height: 240px;
  object-fit: cover;
}
.frame {
  align-self: stretch;
  height: 262px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.get-started {
  position: relative;
  font-size: var(--body-regular-body-2-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--body-regular-body-2);
  text-align: center;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-13xl);
  background-color: var(--primary);
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--neutral-white);
}
.button1:hover {
  background-color: var(--secondary);
  color: var(--text-900);
}
.button-header,
.heading {
  display: flex;
  justify-content: flex-start;
}
.button-header {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 153px;
  height: 52px;
  flex-direction: row;
  align-items: center;
}
.heading {
  position: absolute;
  top: 81px;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 1440px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: 108px var(--padding-40xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: 60px;
  color: var(--text);
  font-family: var(--body-regular-body-2);
}
.input-field {
  border: 0;
  outline: 0;
  background-color: var(--color-darkslategray-200);
  width: 465px;
  border-radius: var(--br-5xs);
  height: 39px;
}
.start-practicing {
  position: relative;
  font-weight: 500;
}
.button2,
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button2 {
  width: 180px;
  border-radius: var(--br-9xs);
  background-color: var(--primary);
  height: 39px;
  padding: var(--padding-mid) var(--padding-11xl);
  box-sizing: border-box;
  margin-left: -23px;
}
.search-bar {
  width: 622px;
}
.rec-child {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-31xl);
  max-width: 100%;
  overflow: hidden;
  height: 400px;
  flex-shrink: 0;
}
.rec {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.start {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--body-regular-body-2);
  color: var(--text);
  text-align: center;
}
.button3,
.icon {
  position: absolute;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-11xl);
  background-color: var(--background);
  height: 8.33%;
  width: 23.81%;
  top: 81.43%;
  right: 38.1%;
  bottom: 10.24%;
  left: 38.1%;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.icon {
  height: 31.19%;
  width: 44.44%;
  top: 7.14%;
  right: 27.66%;
  bottom: 61.67%;
  left: 27.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.description,
.title {
  position: absolute;
  width: 60.54%;
  top: 39.29%;
  left: 19.73%;
  line-height: 36px;
  display: inline-block;
}
.description {
  height: 18.81%;
  width: 80.95%;
  top: 60.48%;
  left: 10.88%;
  font-size: var(--body-regular-body-2-size);
  line-height: 24px;
  color: var(--color-gainsboro-200);
  text-align: left;
}
.dark-course {
  width: 441px;
  position: relative;
  height: 420px;
}
.start1 {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--body-regular-body-2);
  color: var(--background);
  text-align: center;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-11xl);
  background-color: var(--text);
  position: absolute;
  height: 8.33%;
  width: 23.81%;
  top: 81.43%;
  right: 38.1%;
  bottom: 10.24%;
  left: 38.1%;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.decription {
  position: absolute;
  height: 18.81%;
  width: 80.95%;
  top: 60.48%;
  left: 10.88%;
  font-size: var(--body-regular-body-2-size);
  line-height: 24px;
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
}
.light-course {
  width: 441px;
  position: relative;
  height: 420px;
  color: var(--text);
}
.dark-course-parent,
.main {
  display: flex;
  align-items: center;
}
.dark-course-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 53px;
  font-size: var(--heading-headline-3-size);
}
.main {
  position: absolute;
  top: 641px;
  left: 0;
  width: 1440px;
  height: 1229px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 94px 172px;
  box-sizing: border-box;
  gap: 73px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--background);
  font-family: var(--body-regular-body-2);
}
.screenshot-2024-08-18-at-408,
.screenshot-2024-08-18-at-411 {
  width: 51px;
  position: relative;
  height: 57px;
  object-fit: cover;
}
.screenshot-2024-08-18-at-408 {
  width: 168px;
  height: 33px;
}
.frame3 {
  width: 168px;
  height: 57px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.screenshot-2024-08-18-at-4111 {
  width: 162px;
  position: relative;
  height: 19px;
  object-fit: cover;
}
.frame2,
.frame4 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.frame4 {
  width: 162px;
  height: 47px;
  align-items: center;
  margin-top: -52px;
}
.frame2 {
  width: 168px;
  align-items: flex-start;
}
.dark-logo,
.frame2 {
  height: 57px;
}
.dark-logo,
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.copyright-2024 {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.copyright {
  align-self: stretch;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.social-icons {
  width: 32px;
  position: relative;
  height: 32px;
}
.company-info,
.social-links {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.company-info {
  width: 283px;
  height: 200px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.company,
.roadmap {
  width: 160px;
  position: relative;
  display: inline-block;
}
.company {
  margin: 0;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
}
.roadmap {
  text-decoration: none;
  line-height: 20px;
  color: inherit;
}
.practice1,
.roadmap {
  cursor: pointer;
}
.practice1,
.projects {
  width: 160px;
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.list-items {
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--body-regular-body-3-size);
  color: var(--neutral-silver);
}
.col-1,
.frame5,
.list-items {
  overflow: hidden;
  display: flex;
}
.col-1 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame5 {
  border: 0;
  outline: 0;
  background-color: var(--color-gray);
  align-self: stretch;
  border-radius: var(--br-5xs);
  height: 30px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-12xs) var(--padding-xs-3);
  box-sizing: border-box;
}
.col-3,
.footer,
.links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.col-3 {
  width: 262px;
  height: 91px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.footer,
.links {
  flex-direction: row;
}
.links {
  width: 668px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-11xl);
  font-size: var(--heading-headline-4-size);
  color: var(--neutral-white);
}
.footer {
  position: absolute;
  top: 1870px;
  left: 0;
  background-color: var(--primary);
  width: 1440px;
  height: 330px;
  padding: var(--padding-45xl) var(--padding-61xl) var(--padding-45xl)
    var(--padding-146xl);
  box-sizing: border-box;
  gap: var(--gap-131xl);
  text-align: left;
  font-size: var(--body-regular-body-3-size);
  color: var(--neutral-silver);
  font-family: var(--body-regular-body-2);
}
.practice2,
.roadmap1 {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.roadmap1 {
  width: 72px;
  position: relative;
  flex-shrink: 0;
  max-width: 120px;
}
.practice2 {
  width: 62px;
}
.practice2,
.project,
.resources1 {
  position: relative;
  flex-shrink: 0;
  max-width: 120px;
}
.project {
  width: 62px;
  display: flex;
  align-items: center;
}
.resources1 {
  width: 79px;
}
.navbar-text,
.placement1,
.resources1 {
  display: flex;
  align-items: center;
}
.placement1 {
  width: 90px;
  position: relative;
  flex-shrink: 0;
  max-width: 120px;
}
.navbar-text {
  margin: 0;
  position: absolute;
  width: 49.92%;
  top: calc(50% - 8.5px);
  right: 23.83%;
  left: 26.25%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--space-050);
  box-sizing: border-box;
}
.contact-us {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--body-regular-body-2);
  color: var(--primary);
  text-align: center;
}
.sign-in {
  cursor: pointer;
  border: 1px solid var(--primary);
  padding: var(--padding-mini);
  background-color: var(--background);
  width: 85px;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.navbar-button,
.sign-in,
.sign-up {
  display: flex;
  flex-direction: row;
}
.sign-up {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini);
  background-color: var(--primary);
  width: 89px;
  border-radius: var(--br-9xs);
  height: 40px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.navbar-button {
  position: absolute;
  top: calc(50% - 19.5px);
  right: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.light-logo,
.light-logo-icon {
  position: absolute;
  cursor: pointer;
}
.light-logo-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.light-logo {
  text-decoration: none;
  top: 13px;
  left: 33px;
  width: 219px;
  height: 62px;
}
.navbar {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  border-bottom: 1px solid var(--primary);
  box-sizing: border-box;
  width: 1440px;
  height: 81px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-regular-body-2-size);
  color: var(--black-fonts-headings);
  font-family: var(--body-regular-body-2);
}
.practice {
  width: 100%;
  position: relative;
  background-color: var(--neutral-white);
  height: 1791px;
  overflow: hidden;
}
ul
{
  text-align: left;
}
@media screen and (max-width: 960px) {
  .links,
  .navbar-text {
    flex-direction: row;
    gap: var(--gap-11xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .navbar-text {
    flex-direction: column;
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 420px) {
  .frame1 {
    flex: unset;
    align-self: stretch;
  }
  .frame,
  .links,
  .navbar-text {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame {
    gap: -39px;
  }
  .links,
  .navbar-text {
    gap: var(--gap-11xl);
  }
  .navbar-text {
    gap: var(--gap-31xl);
  }
}